//title
.title{
  text-align: center;
  margin-top: 50px;

  &__blog{
    font-size: 80px;
  }


  

  ul{
    display: flex;
    margin-top: 10px;
    list-style-type: none;
    li{
      font-size: 20px ;
      margin: 0 auto;
      
      a:hover{
        color: red;
        text-decoration: underline;
      }
    }
    
   
  }
}
//main section
.main{
  .container {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    -webkit-display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  // Cards
  .cards {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3%;
    }
  
    .card-item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
      overflow: hidden;
      transition: transform 0.5s;
      -webkit-transition: transform 0.5s;
  
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        .card-image {
          opacity: 1;
        }
      }
    }
  
    // Content
    .card-info {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
      line-height: 1.5em;
    }
  
    .card-title {
      font-size: 25px;
      line-height: 1.1em;
      color: #32325d;
      margin-bottom: 0.2em;
    }
    .head{
      font-size: 14px;
      margin-left: 10px;
    }
  
    // Images
    .card-image{
      height: 200px;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 6px 6px 0px 0px;
      opacity: 0.91;
    }
    .art{
      width: 100%;
    }
    a:hover{
      color: red;
      text-transform: uppercase;
    }
  }
  
  
 
}

//writing
.content{
  margin-top: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  

  
 
  &__main{
    width: 900px;
    border: 1px solid gray;

    @media only screen  and(max-width: 800px)  {
      width: 600px;
    }

    @media only screen  and(max-width: 600px)  {
      width: 350px;
    }
  .title{
    margin-top: 10px;
    font-size: 24px;
    text-decoration: underline;
  }
  .author{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  
  &__story{
    width: 600px;
    border: 1px solid gray;
   
  }
  .paragraph{
    text-align: justify;
    padding: 10px;
    text-indent: 10px;

  }
.options{
  text-align: center;
  .btn{
    background-color: black; //
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
}
  
  
  
  }
 
}